#banner {
    height: 100vh;
    background-image:url(pink.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn {
padding: 15px 30px;
border-radius: 60px;
font-size: 18px;
font-weight: 900;
transition: all .4s ease;
}

.btn-brand {
    background-color: rgb(255, 0, 149);
    color: #fff;
    border: 3px solid #fff;
}

.btn-brand:hover {
    background-color: transparent;
    border: 3px solid rgb(255, 0, 149);
    color: rgb(255, 0, 149);
}

section {
    padding: 100px;
}

#about h2 {
    font-size: 55px;
    font-weight: 900;
    color: rgb(255, 0, 149);
}

#services {
    background-color: #fff;
}

#services h3 {
    font-size: 60px;
    font-weight: 900;
    color: rgb(255, 0, 149);
}

.uwu {
    width: 40%;
}
.card:hover{
    background-color: rgb(233, 116, 198);
    transition: all .4 ease;
}
.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn-brand{
    color: aliceblue;
}

#service {
    background-color: rgb(247, 203, 233);
}

#cta {
    height: 90vh;
    background-image:url(beb.jpg);
    background-size: cover;
    backdrop-filter: blur;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.testimonials {
    border: 2px solid rgb(179, 46, 90);
    padding: 30px;
    border-radius: 30px;
    margin: 20px;
}

.testimonials img {
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
}

.testimonials a {
    color: palevioletred;
}

.faq-section {
    max-width: 800px;
    margin: auto;
}

.accordion-item {
    margin-bottom: 20px;
    border-radius: 0 !important;
}

.accordion-button {
    background-color: #f8f8f8;
    border: none;
    border-bottom: 1px solid pink;
    border-radius: 0 !important;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(7, 0, 2);
    cursor: pointer;
    transition: background-color 0.3s color 0.3s;
}

.accordion-body {
    border-left: 3px solid pink;
    padding: 10px 15px;
    margin-left: 0;
    background-color: #fff;
}

.accordion-button:not(.collapsed) {
    background-color: palevioletred;
    color: #FFF;
}

.accordion-button:hover {
    background-color: pink;
    color: #FFF;
}

#faq {
    background-color: #FFF
}